// basice
$font-size: 14px;
$icon-size: 18px;
$active-color: #1890ff;
$bg-main: #f0f2f5;
$border-color: #f4f4f4;
$white-bg: #fff;
$el-icon-small: 30px;
$el-icon-mini: 24px;
// header
$height-header: 56px;
// aside
$width-aside: 140px;
$width-hideside-aside: 54px;
$width-sub-aside: 194px;
$width-mobile-aside: 210px;
$color-aside: rgba(255, 255, 255, 0.9);
$icon-arrow-size-aside: 12px;
$width-submenu-aside: 55px;
$height-aside-title: 56px;
$height-aside-img: 30px;
$width-aside-img: 30px;
// nav-scroll
$height-nav-scroll: 40px;
$active-bg-tabs-item-nav-scroll: #409eff;
$bg-tabs-item-nav-scroll: #ddd;
// table
$bg-color-table-thead: #f8f8f8;
$color-table-tbody: #686868;
$color-table-thead: #343434;
// dashboard
$height-car: 68px;
// mobile
$padding-xs: 5px;
$margin-xs: 5px;
